
.login-container   {
  background-image: url("./assents/img/wallpaperLogin.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  /* Fondo oscuro */
  background-color: rgba(0, 0, 0, 0.7); 
  background-blend-mode: darken;
  background-size: 100% auto; 

  .css-1p6z1ep-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #000000;
  }
}

.reg-container {
  background-image: url("./assents/img/wallpaperRegister.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  /* Fondo oscuro */
  background-color: rgba(0, 0, 0, 0.5); 
  background-blend-mode: darken;
  background-size: 100% auto;

  .css-1p6z1ep-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #000000;
  }
}

.centrado{
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.title {
  font-size: 36px;
}

.formulario{
  color: red;
  border-color: #000000;
}



/* Home */

.carousel {
  height: 60%;
}

.us {
  background: #1e1e1e;
  align-items: center;
  justify-content: center;
}



.text {
  font-family: Inter, sans-serif;
}


/*Venta*/
.fondoVenta {
  background-image: url("./assents/img/venta.jpeg") ;

  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

/* - NavBar -  */
.navbar {
  z-index: 1000; /* Un valor alto para asegurarte de que la navbar siempre esté en la parte superior */
  /* ...otros estilos... */
}

.step {
  z-index: 1; /* Un valor más bajo para los pasos */
  /* ...otros estilos... */
}


/*Profile*/
.imgProfile {
  background-image: url("./assents/img/imgProfile.jpg") ;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  
}


/* Font*/

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('../../frontend-matchbook/src/assents/font/SF-Pro-Display/SFPRODISPLAYBOLD.OTF') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display Medium';
  src: url('../../frontend-matchbook/src/assents/font/SF-Pro-Display/SFPRODISPLAYMEDIUM.OTF') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('../../frontend-matchbook/src/assents/font/SF-Pro-Display/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

/* Roboto*/
@font-face {
  font-family: 'Roboto Bold';
  src: url('../../frontend-matchbook/src/assents/font/Roboto/Roboto-Bold.ttf') format('opentype');
}


/* SF Pro Text*/
@font-face {
  font-family: 'SF Pro Text Bold';
  src: url('../../frontend-matchbook/src/assents/font/SF-Pro-Text/SF-Pro-Text-Bold.otf') format('opentype');
}



