/* cssNav.css */



/*.navbar {
    width: 100%;
    height: 50px;
    background: #1e1e1e;
    border-bottom: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1300;
}*/

.navbar {
    position: fixed !important; /* Cambiado de 'static' a 'fixed' */
    top: 0; /* Alinea la barra de navegación en la parte superior del viewport */
    left: 0; /* Alinea la barra de navegación en la parte izquierda del viewport */
    width: 100%;
    height: 50px;
    background: #1e1e1e;
    border-bottom: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1300; /* Asegúrate de que el z-index sea suficiente para mantener la barra sobre otros elementos */
}


.space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo {
    width: 50px;
    height: 50px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-container span {
    font-weight: 500;
    cursor: pointer;
}

.links-container {                          
    display: flex;
    min-width: 300px;
    justify-content: space-evenly;
}

.link a {
    text-decoration: none;
    color: rgb(14, 34, 14);
}

.link a:hover {
    text-decoration: none;
    color: rgba(14, 34, 14, 0.8);
}

/* Estilos para el buscador */
.searchHome{
    flex: 1;
    
    height: 2.5rem;
    border: none;
    border-radius: 20px;
    padding: 0 15px;
    background-color: white;
    display: flex;
    align-items: center;
}

.search{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
    color: black;
}

.search:focus {
    outline: none;
}

#search-icon {
    color: black;
}

.inputInput {
    padding: 10px 10px 10px 0; /* Ajusta estos valores según tus necesidades */
    transition: width 0.3s;
    width: '100%';
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.navbar-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegúrate de que la barra de navegación se muestre por encima de otros contenidos */
}
